@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap');
@font-face {
    font-family: Pecita;
    src: url('assets/pecita/Pecita.otf');
}
:root {
    --c-grey-background: #f8f8f8;
    --c-grey-placeholder: #959595;
    --c-grey-text: #333;
    --c-grey-reaction: #eee;
    --c-grey-border: #d1d0d0;
    --c-blue-cta: #0d99e8;
    --c-blue-loveIsland: #56d8e5cc;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.75;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--c-grey-background);
    font-family: 'Exo', sans-serif;
    background-image: url('assets/Suitcases_banner_1728x.png');
    background-repeat: initial;
    overflow: auto scroll;
}

header {
    background-color: var(--c-blue-loveIsland);
    border-radius: 25px;
}
main {
    background-color: #fff;
    height: 100vh;
    width: 65vw;
    min-width: 576px;
    margin: 0 auto;
}
h1 {
    margin: 0 0 0 5vw;
    font-family: 'Pecita', cursive;
    font-size: 35px;
    color: whitesmoke;
}
a {
    text-decoration: none;
}
/* === DARK MODE SWITCH === */

#dark__mode {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    padding: 0 8vw 2vw 0;
    border: none;
    color: var(--c-grey-text);
    resize: none;
    outline: transparent;
    background-color: transparent;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* === POST SECTION & REPLY SECTION === */

.post,
.reply {
    background-color: var(--c-grey-background);
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.post__content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.post__text,
.reply__text {
    font-family: 'Exo', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: transparent;
    height: 13rem;
    margin-top: 30px;
    border: none;
    color: var(--c-grey-text);
    resize: none;
    outline: transparent;
}

.post__text::placeholder,
.reply__text::placeholder {
    color: var(--c-grey-placeholder);
}

.post__actions,
.reply__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto 20px;
}

.post__actions > a > img {
    width: 35px;
}

.post__characters {
    color: var(--c-grey-placeholder);
    font-size: 1.4rem;
    font-weight: 500;
}

.post__btn {
    font-family: 'Exo', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    background-color: var(--c-blue-loveIsland);
    color: var(--c-grey-background);
    border: none;
    border-radius: 40px;
    padding: 5px 20px;
    cursor: pointer;
}

/* === EMOJI BUTTONS === */
.reactions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 10px auto 20px;
}

.reaction__btn,
#reply__btn {
    width: 38.62px;
    height: 38px;
    align-items: center;
    border: none;
    background-color: whitesmoke;
    border-radius: 100px;
}
.reaction__btn:hover,
#reply__btn:hover {
    background-color: rgba(255, 54, 160, 0.4);
    transform: scale(1.1);
    cursor: pointer;
}

/* REPLY MODAL */
.reply-search {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 77, 77, 0.6);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.reply-search:target {
    visibility: visible;
    opacity: 1;
}

.reply__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 60vh;
    background-color: var(--c-grey-background);
    padding: 3rem;
    border-radius: 10px;
}

.reply-search__text {
    font-family: 'Exo', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    width: 90%;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    outline: transparent;
}

.reply-search__container > text::placeholder {
    color: var(--c-grey-placeholder);
}

/* === GIPHY MODAL === */

.giphy-search {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 77, 77, 0.6);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.giphy-search:target {
    visibility: visible;
    opacity: 1;
}

.giphy-search__form {
    width: 40%;
    height: 50vh;
    background-color: var(--c-grey-background);
    padding: 3rem;
    border-radius: 10px;
    overflow: auto scroll;
}

.giphy-search__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.giphy-search__container > input {
    font-family: 'Exo', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    width: 90%;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    outline: transparent;
}

.giphy-search__container > input::placeholder {
    color: var(--c-grey-placeholder);
}

.modal__close {
    color: var(--c-grey-text);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 600;
}

.giphy-search__results {
    display: flex;
    justify-content: center;
}

.giphy-search__results > img {
    margin-top: 10px;
    width: 300px;
}

/* FOOTER */

footer {
    background-color: rgba(163, 255, 54, 0.6);
    font-family: 'Pecita', cursive;
    flex: 1 0 auto;
}

.footer__container {
    display: flex;
    justify-content: space-around;
}
